<div class="container centering filter">

	<%= form_tag game_player_path, :method => 'get' do %>
	    <p>
	        <%= text_field_tag :text, params[:text] %>
	        <%= submit_tag 'GAME' , :id => @player.id%>
	    </p>
	<% end %>

</div>

